*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
.hero{
    
    height: 100%;
    width: 100%;
    background-image: url(../images/bgg2.png);
    position: absolute;
    background-size: cover;
  
}



.form-box{
    
    left: 390px;
    width: 380px;
    height: 480px;
    padding: 5px;
    position: relative;
    margin: 6% auto;
    background-color: #becfdf70;
    overflow: hidden;
}
.toggle-btn{
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: 0;
    position: relative;
}
.button-box{
    width: 220px;
    height: auto;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #eef8e9;
    border-radius: 30px;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #8ae2e2,#b8e28a);
    border-radius: 30px;
    transition: .5s;
}
.input-group{
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-fld{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-bottom: 1px solid #999;;
    border-right: 0;
    border-top: 0;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 75%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #8ae2e2,#b8e28a);
    border: 0;
    outline: none;
    border-radius: 30px;

}
.chk-box{
   margin: 30px 10px 30px 0;
}
span{
    color: #999;
    font-size: 12px;
    bottom: 66px;
    position: absolute;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}